@font-face {
    font-family: maxi;
    src: url(../font/Bright\ DEMO.otf);
   
}
*{
    color: #026842;
  
    font-size: 20px;
}
body{
    background-color:#fffcfa ;
    color: white;
}
#btnupdate{
    display: none;

}
#btnadd{
    color: #026842;
    background-color: #fffcfa;
    border: 1px solid #026842;
    border-radius: 25px;
}
#btnadd:hover{
    background-color: #026842;
    opacity: 0.9;
  color: #fffcfa;
}
#vi:hover{
    background-color: #026842;
    color: #fff;
}
#vi{
    text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #026842;
  border: 1px solid #026842;
  border-radius: 25px;
  transition: all 400ms ease;
}
#btneliminar{
    color: #026842;
    background-color: #fffcfa;
    border: 1px solid #026842;
    border-radius: 25px;
    margin-right: 15px;
    
}
#btnedit{
    color: #026842;
    background-color: #fffcfa;
    border: 1px solid #026842;
    border-radius: 25px;
    
}
#btnedit:hover{
    background-color: #026842;
    color: #fff;
}
#btneliminar:hover{
    background-color: #026842;
    color: #fff;
}
h1{
    font-size: 100px;
    font-family: maxi;
}
#btnupdate{
    color: #026842;
    background-color: #fffcfa;
    border: 1px solid #026842;
    border-radius: 25px;
}
#btnupdate:hover{
    background-color: #026842;
    color: #fff;
}
#tabledata th{
    color: #026842;
    padding: 10px;
    
}
.bt{
    text-align: right;
}
